<mat-toolbar>
    <span>Ecommerce Application V1</span>
    <span>

        <span class="navbarItem">

            <span class="userName">
                <img src="" alt="pfp" />
                Sample Name
                <!-- {{ sessionStorage.getItem('currentUser').email }} -->
            </span>

        </span>

        <span class="navbarItem">

            <span class="menuWrapper">
                <button mat-button [matMenuTriggerFor]="menu" class="navbarMenu">
                    <mat-icon>menu</mat-icon>
                    Menu
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/admin">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                    </button>

                    <!-- <button mat-menu-item routerLink="">
                <mat-icon></mat-icon>
                Manage Products
            </button> -->

                    <button mat-menu-item routerLink="/user">
                        <mat-icon>account_circle</mat-icon>
                        User Profile
                    </button>

                    <!-- currently taken out so app can render
                        paste this back in after finish building view item component:
                    (click)="deleteSessionUserInfo()"
                -->
                    <button mat-menu-item routerLink="/login">
                        <mat-icon>power_settings_new</mat-icon>
                        Log out
                    </button>
                </mat-menu>
            </span>
        </span>
    </span>
</mat-toolbar>

<div>
    <h1 style="text-align: center;">Product List</h1>
    <table style="width: 50%; margin: auto; text-align: center;" border=1>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>View</th>
        </tr>
        <tr *ngFor="let product of products$ | async">
            <td>{{product.pid}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><button mat-icon-button color="primary">
                    <mat-icon (click)="viewProduct(product.pid)">info</mat-icon>
                </button></td>
        </tr>
    </table>
</div>