<mat-toolbar>
    <span>Ecommerce Application V1</span>
    <span>

        <span class="navbarItem">

            <span class="userName">
                <img src="" alt="pfp" />
                Sample Name
                <!-- {{ sessionStorage.getItem('currentUser').email }} -->
            </span>

        </span>

        <span class="navbarItem">

            <span class="menuWrapper">
                <button mat-button [matMenuTriggerFor]="menu" class="navbarMenu">
                    <mat-icon>menu</mat-icon>
                    Menu
                </button>

                <mat-menu #menu="matMenu">


                    <!-- <button mat-menu-item routerLink="">
                <mat-icon></mat-icon>
                Manage Products
            </button> -->

                    <button mat-menu-item routerLink="/user">
                        <mat-icon>account_circle</mat-icon>
                        User Profile
                    </button>
                    <button mat-menu-item routerLink="/shop">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Shop
                    </button>
                    <button mat-menu-item routerLink="/cart">
                        <mat-icon>shopping_cart</mat-icon>
                        Cart
                    </button>

                    <button mat-menu-item (click)="deleteSessionUserInfo()" routerLink="/login">
                        <mat-icon>power_settings_new</mat-icon>
                        Log out
                    </button>
                </mat-menu>
            </span>
        </span>
    </span>
</mat-toolbar>

<!-- <mat-toolbar>
    <span>Ecommerce Application V1</span>
    <span>

        <img [src]="profilePicture" width="70" height="70" />

        <a routerLink="/user">User</a>
        <a routerLink="/shop">Shop</a>
        <a routerLink="/cart">Cart</a>
        <a (click)="deleteSessionUserInfo()" routerLink="/login">Logout</a>
    </span>
</mat-toolbar> -->
<!-- <div id="last"></div>
<button (click) = "displayPerson()">Click</button> -->

<div style="margin-top: 10px" id="hiName"></div>

<button (click)="showUserDetailfunc()" style="margin-top: 2%;margin-bottom: 2%; background-color: blue; color: white;">
    Hide/Show User Details</button>
<form [formGroup]="updateUserForm" (ngSubmit)="update()" novalidate *ngIf="showDetails">
    <h1 style="text-align: center; margin-top: 15px;">User Data:</h1>
    <table style="width: 50%; margin: auto; text-align: center;" border=1>
        <tr>
            <th>User Id</th>
            <th>User Email</th>
            <th>Password</th>
            <th>Role</th>
            <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>


                <input style="text-align: center;" #idInp formControlName="id" disabled />

            </td>
            <td>


                <input style="text-align: center;" #emailInp formControlName="email" disabled />

            </td>
            <td>


                <input style="text-align: center;" #pwInp formControlName="password" />

            </td>
            <td>


                <input style="text-align: center;" #roleInp formControlName="role" disabled />

            </td>
            <td>
                <button style="background-color: blue; color: white;" type="submit">
                    <span>Update user</span>
                </button>
            </td>
            <td><button mat-icon-button color="warn">
                    <mat-icon (click)="delete()">delete</mat-icon>
                </button>
            </td>
        </tr>






    </table>
</form>